<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Новини</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let post of [{},{},{},{},{},{},{},{},{}]">
    <img src="https://img.tsn.ua/cached/082/tsn-0adb2b455a252fbeb54cd6e76bc767e2/thumbs/1036x648/20/fb/99904d99551abcb83cd17b367de1fb20.jpeg" alt="ion">
    <ion-card-header>
      <ion-card-subtitle>13:40, 05.11.21</ion-card-subtitle>
      <ion-card-title>На розвиток мережі автомобільних доріг у 2022 році заплановані кошти в обсязі 124,1 млрд грн.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      За умов забезпечення вибірки кредитів міжнародних фінансових організацій обсяг фінансування може бути збільшено.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
</ion-content>
